<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>


</h:head>

<h:body>

	<h2>Files Overview</h2>

	<h:dataTable value="#{uploadBean.getAllFiles()}" var="s"
		styleClass="pretty-table" headerClass="order-table-header"
		rowClasses="order-table-odd-row,order-table-even-row">


		<h:column>
			<f:facet name="header">
    				Lastname
				</f:facet>
    				#{s.lastname}
    		</h:column>
		<h:column>
			<f:facet name="header">
    				Firstname
				</f:facet>
    				#{s.firstname}
    		</h:column>
		<h:column>
			<f:facet name="header">
    				Email Address
				</f:facet>
    				#{s.email}
    		</h:column>
		<h:column>
			<f:facet name="header">
    				Gender
				</f:facet>
    				#{s.gender}
    		</h:column>

	</h:dataTable>

</h:body>
</html>