<?xml version='1.0' encoding='UTF-8' ?>
<?xml-stylesheet href="style.css" type="text/css"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Error page</title>
</h:head>
<h:body>
	<h:form>
		<h1>Something went wrong! Please go to the login page </h1>
		<p:commandButton  value="Login"
			ajax="false" action="login.xhtml?faces-redirect=true"></p:commandButton>
	</h:form>
</h:body>
</html>