<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<link rel="icon" type="image/png" href="favicon.png" />
	<style type="text/css">
	
.datatableUploads{   
	border-collapse:collapse;
}

.order-table-header{
	text-align:left;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
}

.order-table-odd-row{
	text-align:left;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}

.order-table-even-row{
	text-align:left;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}	
	
.ui-layout-center {
	overflow: visible !important;
}

.ui-layout-unit .ui-layout-unit-content {
	overflow: visible !important;
	padding: initial !important;
}

.ui-layout-unit {
	padding: initial !important;
}

.ui-menu {
	padding: initial !important;
}

.ui-widget-content {
	padding: initial !important;
	background-color: #F2F1F1;
	border: 0;
}

.ui-corner-all {
	border-radius: 0 !important;
}

.ui-layout-center {
	overflow: auto !important;
}

h3 {
	color: #00283C;
}

h4 {
	color: #00AADC;
}

h4:after {
	content: ' ';
	display: block;
	width: 100%;
	border: 2px solid #d0d0d0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.datatableUploads td:nth-child(1) {
    width: 40% !important;
}
.datatableUploads td:nth-child(2) {
    width: 20% !important;
}
.datatableUploads td:nth-child(3) {
    width: 20% !important;
}

.twenty-percent {
	width: 20% !important;
}

.forty-percent {
	width: 40%;
}

.sixty-percent {
	width: 60%;
}

</style>
	<script type="text/javascript">
		function start() {
			PF('statusDialog').show();
		}

		function stop() {
			PF('statusDialog').hide();
		}
	</script>
	<link rel="icon" type="image/png"
		href="#{request.contextPath}/images/favicon.png" />
	<title>Home page</title>
</h:head>

<h:body>
	<h:form enctype="multipart/form-data" action="servlet/Importer" id="applyForm"
		method="get">
		<p:layout fullPage="true">
			<p:layoutUnit position="north" gutter="0">
				<p:outputPanel
					style="display:block; width: 100%; height: 155px; background-color: #00283C; border-bottom: 3px solid #00AADC;">
					<h:graphicImage value="header2016.png" width="1000" height="150"
						style="display: block;
    margin: 0 auto;" />
				</p:outputPanel>
			</p:layoutUnit>



			<p:layoutUnit position="west" resizable="true" minSize="40">
				<p:menu>
					<p:menuitem value="Apply for TENSS 2017"
						actionListener="#{pages.changePage(1)}" immediate="true"
						ajax="false" update="outputPanel" />
					<p:menuitem value="Change password"
						actionListener="#{pages.changePage(3)}" immediate="true"
						ajax="false" update="outputPanel" />
				</p:menu>
				<p:commandButton actionListener="#{loginBean.logout}" value="Logout"
					ajax="false" action="login.xhtml?faces-redirect=true"
					immediate="true"></p:commandButton>

			</p:layoutUnit>

			<p:layoutUnit position="center" resizable="true">
				<p:outputPanel id="outputPanel">
					<ui:include src="#{pages.dynamicaPagesInclude}" />
				</p:outputPanel>
			</p:layoutUnit>

			<!-- <p:layoutUnit position="south" gutter="0">
				<p:outputPanel
					style="height: 60px; background-color: #00283C; border-bottom: 3px solid #00AADC;">
					<p:outputLabel
						style="display: block; margin: 0 auto; text-align:center; color:white; padding-top:1em"
						value=" © TENSS 2017"></p:outputLabel>

				</p:outputPanel>
			</p:layoutUnit>
 			-->
		</p:layout>
	</h:form>

</h:body>
</html>