<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<style>
<
h:head> <style type ="text/css">.ui-layout-center {
	overflow: visible !important;
}

.ui-layout-unit .ui-layout-unit-content {
	overflow: visible !important;
	padding: initial !important;
}

.ui-layout-unit {
	padding: initial !important;
}

.ui-menu {
	padding: initial !important;
}

.ui-widget-content {
	padding: initial !important;
	background-color: #F2F1F1;
	border: 0;
}

.ui-corner-all {
	border-radius: 0 !important;
}

.ui-layout-center {
	overflow: auto !important;
}

h3 {
	color: #00283C;
}

h4 {
	color: #00AADC;
}

h4:after {
	content: ' ';
	display: block;
	width: 100%;
	border: 2px solid #d0d0d0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.forty-percent {
	width: 40%;
}

.sixty-percent {
	width: 60%;
}

.twenty-percent {
	width: 20%;
}
</style>
	<link rel="icon" type="image/png"
		href="#{request.contextPath}/images/favicon.png" />
	<title>Change Password</title>
</h:head>
<h:body>
	<p:outputPanel
		style="display:block; width: 100%; height: 155px; background-color: #00283C; border-bottom: 3px solid #00AADC;">
		<h:graphicImage value="header2016.png" width="1000" height="150"
			style="display: block;
    margin: 0 auto;" />
	</p:outputPanel>
	<h:form id="pwdForm" prependId="false">
		<p:messages id="messagesDialog" closable="true" autoUpdate="true"
			globalOnly="false" />
		<p:fieldset>
			<p:panelGrid columns="2" id="panel">
				<h:outputLabel value="Enter your new password" />
				<h:inputText label="New password" id="textPass1" var="password"
					value="#{passwordManager.password}" required="true" maxlength="128"
					size="35">
					<f:attribute name="passComp" value="#{passComp}" />
				</h:inputText>
				<h:outputLabel value="Confirm your new password" />
				<h:inputText label="Confirm new password" id="textPass2"
					value="#{passwordManager.passwordconfirm}" required="true"
					maxlength="64" size="35">
					<f:validator validatorId="duplicateFieldValidator" />
					<f:attribute name="field1Id"
						value="#{component.parent.parent.clientId}:textPass1" />
				</h:inputText>
			</p:panelGrid>
		</p:fieldset>
		<div class="buttonBox">
			<c:set var="password" value="#{passwordManager.password}" />
			<h:commandButton id="change" value="Change"
				action="#{loginBean.changePassword(password)}" />
			<h:button id="cancel" value="Cancel" outcome="home.xhtml" />
		</div>
	</h:form>
</h:body>

</html>