<?xml version='1.0' encoding='UTF-8' ?>
<?xml-stylesheet href="style.css" type="text/css"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<link rel="icon" type="image/png"
		href="#{request.contextPath}/images/favicon.png" />
	<ui:fragment rendered="#{activation.valid}">
		<meta http-equiv="refresh" content="5;url=login.jsf" />
	</ui:fragment>
</h:head>
<h:body>
	<h:panelGroup layout="block" rendered="#{activation.valid}">
		<p>Your account is successfully activated!</p>
		<p>
			You will be redirected to the <h:link outcome="login.xhtml">login page</h:link> in 5 seconds...
		</p>
	</h:panelGroup>
	<h:panelGroup layout="block" rendered="#{!activation.valid}">
		<p>Activation failed! Please enter your email address to try once
			again.</p>

	</h:panelGroup>
</h:body>
</html>
