<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h2>Applications Overview</h2>

	<p:dataTable value="#{studentBean.getAllApplications()}" var="app" scrollable="true" 
		styleClass="idcol,prioritycol,titlecol,descriptioncol,actionscol" headerClass="order-table-header"
		rowClasses="order-table-odd-row,order-table-even-row">


		<p:column>
			<f:facet name="header">
    				Lastname
				</f:facet>
    				#{app.student.lastname}
    		</p:column>
		<p:column>
			<f:facet name="header">
    				Firstname
				</f:facet>
    				#{app.student.firstname}
    		</p:column>
		<p:column>
			<f:facet name="header">
    				Email Address
				</f:facet>
    				#{app.student.email}
    		</p:column>
		<p:column>
			<f:facet name="header">
    				Gender
				</f:facet>
    				#{app.student.gender}
    		</p:column>
    		<p:column>
			<f:facet name="header">
    				Title
				</f:facet>
    				#{app.title}
    		</p:column>
    		<p:column>
			<f:facet name="header">
    				Diet
				</f:facet>
    				#{app.diet}
    		</p:column>
    		<p:column>
			<f:facet name="header">
    				Visa
				</f:facet>
    				#{app.visa}
    		</p:column>
    		<p:column>
			<f:facet name="header">
    				Immigration Office
				</f:facet>
    				#{app.immigrationOffice}
    		</p:column>
    		<p:column>
			<f:facet name="header">
    				Financial Support
				</f:facet>
    				#{app.financialSupport}
    		</p:column>
    		<p:column>
			<f:facet name="header">
    				Reason Financial Support
				</f:facet>
    				#{app.reasonFinancialSupport}
    		</p:column>

	</p:dataTable>

</ui:composition>