<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">


	<p:messages />
	<h3>Apply for TENSS</h3>

	<p style="margin: 8px;">
		Please fill in the Personal Data and Affiliation sections and then
		upload a CV, a motivation letter <BR />(see the model available at <a
			target="_blank" href="http://tenss.ro/apply/index.php">http://tenss.ro/apply/index.php</a>),
		and two recommendation letters. <BR /> We strongly advise you to
		constantly check your spam folder for emails received from the
		submission system. <BR /> Please note that your application will not
		be considered if it hasn't been submitted before deadline!
	</p>

	<p:outputLabel style="color:green;margin:8px;" id="appUpdate"
		value="Your application was last submitted on #{appBean.displayDate(appBean.application.lastUpdated)}"
		rendered="#{appBean.application.lastUpdated ne null}" />

	<h4>Personal Data</h4>

	<h:panelGrid id="grid" columns="2" cellpadding="5"
		columnClasses="forty-percent top-alignment">

		<p:outputLabel for="title" value="Title"></p:outputLabel>
		<p:inputText id="title" value="#{appBean.application.title}" size="30"
			maxlength="255" required="#{param['applyForm:saveApp']==null}"
			requiredMessage="Title is required">
			<f:validateLength maximum="255" />
			<p:message for="title" />
		</p:inputText>


		<p:outputLabel for="firstname" value="Firstname"></p:outputLabel>
		<p:inputText id="firstname" value="#{studentBean.student.firstname}"
			required="#{param['applyForm:saveApp']==null}" size="30"
			maxlength="255">
			<f:validateLength maximum="255" />
			<p:message for="firstname" />
		</p:inputText>

		<p:outputLabel for="lastname" value="Lastname"></p:outputLabel>
		<p:inputText id="lastname" value="#{studentBean.student.lastname}"
			required="#{param['applyForm:saveApp']==null}" size="30"
			maxlength="255">
			<f:validateLength maximum="255" />
			<p:message for="lastname" />
		</p:inputText>

		<p:outputLabel for="gender" value="Gender"></p:outputLabel>

		<p:selectOneMenu id="gender" value="#{studentBean.student.gender}"
			required="true">
			<f:selectItem itemLabel="Male" itemValue="Male" />
			<f:selectItem itemLabel="Female" itemValue="Female" />
			<p:message for="gender" />
		</p:selectOneMenu>

		<p:outputLabel for="citizenship" value="Citizenship"></p:outputLabel>
		<p:inputText id="citizenship"
			value="#{appBean.application.citizenship}" size="30" maxlength="255"
			required="#{param['applyForm:saveApp']==null}"
			requiredMessage="Citizenship is required">
			<f:validateLength maximum="255" />
			<p:message for="citizenship" />
		</p:inputText>


		<p:outputLabel value="Visa required for Romania?">
			<h:outputLink style="color:blue;"
				value="http://www.mae.ro/en/node/2040" target="_new"> See more information here</h:outputLink>
		</p:outputLabel>
		<p:selectOneRadio id="visa" value="#{appBean.application.visa}">
			<f:selectItem itemLabel="Yes" itemValue="#{true}" />
			<f:selectItem itemLabel="No" itemValue="#{false}" />
		</p:selectOneRadio>


		<p:outputLabel for="immigration"
			value="Visa only: prior endorsement from Romanian Immigration Office required?">
			<h:outputLink style="color:blue;"
				value="http://www.mae.ro/en/node/2051" target="_new"> See more information here</h:outputLink>
		</p:outputLabel>
		<p:selectOneRadio id="immigration"
			value="#{appBean.application.immigrationOffice}">
			<f:selectItem itemLabel="Yes" itemValue="#{true}" />
			<f:selectItem itemLabel="No" itemValue="#{false}" />
		</p:selectOneRadio>


		<p:outputLabel for="diet"
			value="Special diet (Kosher, Vegetarian, Vegan)"></p:outputLabel>
		<p:inputText id="diet" value="#{appBean.application.diet}" size="30"
			maxlength="255">
			<f:validateLength maximum="255" />
			<p:message for="diet" />
		</p:inputText>


		<p:outputLabel value="Do you need financial support"></p:outputLabel>

		<p:selectOneRadio id="financialSupport"
			value="#{appBean.application.financialSupport}">
			<f:selectItem itemLabel="Yes" itemValue="#{true}" />
			<f:selectItem itemLabel="No" itemValue="#{false}" />
		</p:selectOneRadio>



		<h:panelGroup id="reason">
			<p:outputLabel
				value="Please specify reason for obtaining financial support"></p:outputLabel>
		</h:panelGroup>


		<p:outputPanel id="reasonT" >
				<p:inputTextarea id="reasonText" rows="3" cols="50" counter="display"
					maxlength="600"
					value="#{appBean.application.reasonFinancialSupport}"
					counterTemplate="{0} characters remaining." autoResize="false">
					<f:validateLength maximum="600" />
				</p:inputTextarea>
				<h:outputText for="reasonText" id="display" />	
		</p:outputPanel>

	</h:panelGrid>

	<h4>Affiliation</h4>
	<h:panelGrid style="overflow: auto; height: 100px; width: 100%"
		id="grid2" columns="2"
		columnClasses="forty-percent top-alignment, sixty-percent top-alignment"
		cellpadding="5">
		<p:outputLabel for="institution" value="Institution"></p:outputLabel>
		<p:inputText id="institution" size="70" maxlength="350"
			value="#{appBean.application.institution}"
			required="#{param['applyForm:saveApp']==null}">
			<f:validateLength maximum="350" />
			<p:message for="institution"></p:message>

		</p:inputText>

		<p:outputLabel for="department" value="Department"></p:outputLabel>
		<p:inputText id="department" size="70" maxlength="350"
			value="#{appBean.application.department}"
			required="#{param['applyForm:saveApp']==null}">
			<f:validateLength maximum="350" />
			<p:message for="department" />
		</p:inputText>

		<p:outputLabel for="position" value="Position"></p:outputLabel>
		<p:inputText id="position" size="70" maxlength="350"
			value="#{appBean.application.position}"
			required="#{param['applyForm:saveApp']==null}">
			<f:validateLength maximum="350" />
			<p:message for="position" />
		</p:inputText>


		<p:outputLabel for="lab" value="Lab head (name)"></p:outputLabel>
		<p:inputText id="lab" size="70" maxlength="350"
			value="#{appBean.application.lab_name}"
			required="#{param['applyForm:saveApp']==null}">
			<f:validateLength maximum="350" />
			<p:message for="lab" />
		</p:inputText>

		<p:outputLabel for="street" value="Street" />
		<p:inputText id="street" size="70" maxlength="350"
			value="#{appBean.application.street}"
			required="#{param['applyForm:saveApp']==null}">
			<f:validateLength maximum="350" />
			<p:message for="street" />
		</p:inputText>

		<p:outputLabel value="Postal Code" />
		<p:inputMask id="code" maxlength="20"
			value="#{appBean.application.postal_code}">
			<pe:keyFilter regEx="/[\d]/" />
			<f:validateLength maximum="20" />
		</p:inputMask>

		<p:outputLabel for="city" value="City" />
		<p:inputText id="city" size="30" value="#{appBean.application.city}"
			maxlength="45" required="#{param['applyForm:saveApp']==null}">
			<f:validateLength maximum="45" />
			<p:message for="city" />
		</p:inputText>

		<p:outputLabel for="country" value="Country" />
		<p:inputText id="country" size="30"
			value="#{appBean.application.country}" maxlength="45"
			required="#{param['applyForm:saveApp']==null}">
			<f:validateLength maximum="45" />
			<p:message for="country" />
		</p:inputText>

		<p:outputLabel for="phone" value="Phone" />
		<p:inputText id="phone" maxlength="45"
			value="#{appBean.application.phone}">
			<f:validateLength maximum="45" />
		</p:inputText>

		<p:outputLabel for="fax" value="Fax" />
		<p:inputText id="fax" maxlength="45"
			value="#{appBean.application.fax}">
			<f:validateLength maximum="45" />
		</p:inputText>
	</h:panelGrid>

	<h4>Upload section</h4>
	<p style="margin: 8px;">
		Please upload a CV, a motivation letter and two recommendation
		letters. <BR /> Allowed file types are pdf, doc and docx. Files
		should not exceed the limit of 5 MB.
	</p>

	<h:form id="upload">
		<h:panelGrid style="width:90%;" id="panelGridUp">

			<p:fileUpload fileUploadListener="#{fileUploadView.handleFileUpload}"
				mode="advanced" dragDropSupport="false" update="panelGridUp"
				label="Browse" sizeLimit="5242880"
				allowTypes="/(\.|\/)(pdf|doc|docx)$/" />


			<h:dataTable id="dataTableUploads" styleClass="datatableUploads"
				value="#{appBean.uploadedFiles()}" var="s" editable="true"
				editMode="cell" headerClass="order-table-header"
				rowClasses="order-table-odd-row,order-table-even-row"
				columnClasses="forty-percent,twenty-percent,twenty-percent">

				<p:column>
					<f:facet name="header">
    				File name
					</f:facet>
    				#{s.fileName}
    			</p:column>
				<p:column>
					<f:facet name="header">
    				File type
					</f:facet>

					<p:selectOneMenu id="fileType" value="#{s.fileType}"
						rendered="#{s.submittedBy eq 'user'}" style="width:190px"
						required="true">
						<f:selectItem itemLabel="CV" itemValue="CV" />
						<f:selectItem itemLabel="motivation letter"
							itemValue="motivation letter" />
						<f:selectItem itemLabel="recommendation"
							itemValue="recommendation" />
						<p:ajax
							listener="#{appBean.updateFileType(appBean.uploadedFiles())}" />

					</p:selectOneMenu>
					<p:outputLabel value="recommendation"
						rendered="#{s.submittedBy ne 'user'}"></p:outputLabel>
				</p:column>

				<p:column>
					<f:facet name="header">
    				Submitted by
					</f:facet>
    				#{s.submittedBy}
    			</p:column>

				<p:column>
					<p:commandButton id="downloadLink" value="Download" ajax="false"
						rendered="#{s.submittedBy eq 'user'}" immediate="true"
						actionListener="#{fileDownloadView.handleFileDownload(s.file, s.contentType, s.fileName)}"
						onclick="PrimeFaces.monitorDownload(start, stop)"
						icon="ui-icon-arrowthick-1-s">
						<p:fileDownload value="#{fileDownloadView.file}" />
					</p:commandButton>
				</p:column>
				<p:column>
					<p:commandButton value="Delete" ajax="false"
						rendered="#{s.submittedBy eq 'user'}"
						actionListener="#{fileUploadView.deleteFile(s)}" immediate="true"
						icon="ui-icon-close">

					</p:commandButton>
				</p:column>


			</h:dataTable>


			<p:dialog modal="true" widgetVar="statusDialog" header="Status"
				draggable="false" closable="false" resizable="false">
				<p:graphicImage name="/demo/images/ajaxloadingbar.gif" />
			</p:dialog>
		</h:panelGrid>
	</h:form>

	<h4>Send invitations to upload recommendation letters</h4>
	<p style="margin: 8px;">
		You can send invitations to research scientists/faculty members to
		upload their recommendation letter <br /> for your application by
		sending them, via email, the following upload link:<BR /> <BR />
		<h:link target="_new"
			value="#{request.requestURL.substring(0, request.requestURL.length() - request.requestURI.length())}#{request.contextPath}/uploadRecommendation.jsf?email=#{studentBean.student.email}"
			outcome="uploadRecommendation">
			<f:param name="email" value="#{studentBean.student.email}" />
		</h:link>
		<BR /> <BR /> As soon as the recommendation letter is uploaded it
		will appear in the upload section.
	</p>
	<BR />
	<p style="margin: 8px;">
		You can submit your application as many times as you wish, until the
		deadline.<BR /> Only the last submission will be used to evaluate
		your application.
	</p>
	<BR />
	<BR />

	<p:defaultCommand target="submitApp" />
	<p:commandButton id="saveApp" value="Save application" ajax="false"
		update="financialSupport"
		actionListener="#{appBean.saveApp(studentBean.student, fileUploadView.uBean.uploadFiles)}" />
	<p:commandButton id="submitApp" value="Submit application" ajax="false"
		actionListener="#{appBean.submitApp(studentBean.student, fileUploadView.uBean)}" />
	<p:commandButton id="cancel" value="Cancel" immediate="true"
		ajax="false" action="#{pages.resetPage}" />
</ui:composition>