<?xml-stylesheet href="style.css" type="text/css"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<style type="text/css">
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	min-height: 100%;
	position: relative;
}

#header {
	padding: 10px;
}

#body {
	padding: 10px;
	padding-bottom: 60px; /* Height of the footer */
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Height of the footer */
}

.ui-layout-center {
	overflow: visible !important;
}

.ui-layout-unit .ui-layout-unit-content {
	overflow: visible !important;
	padding: initial !important;
}

.ui-layout-unit {
	padding: initial !important;
}

.ui-menu {
	padding: initial !important;
}

.ui-widget-content {
	padding: initial !important;
	background-color: #F2F1F1;
	border: 0;
}

.ui-corner-all {
	border-radius: 0 !important;
}

.ui-layout-center {
	overflow: auto !important;
}

h3 {
	color: #00283C;
}

h4 {
	color: #00AADC;
}

h4:after {
	content: ' ';
	display: block;
	width: 100%;
	border: 2px solid #d0d0d0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.forty-percent {
	width: 40%;
}

.sixty-percent {
	width: 60%;
}
</style>
	<link rel="icon" type="image/png"
		href="#{request.contextPath}/images/favicon.png" />
	<title>Password Recovery</title>
</h:head>

<h:body>
	<div id="page">
		<div id="header">
			<p:outputPanel
				style="display:block; width: 100%; height: 155px; background-color: #00283C; border-bottom: 3px solid #00AADC;">
				<h:graphicImage value="header2016.png" width="1000" height="150"
					style="display: block;
    margin: 0 auto;" />
			</p:outputPanel>
		</div>
		<div id="body">
			<h:form>
				<p:fieldset id="field">
					<p:panelGrid columns="2">

						<p:outputLabel for="Email" value="Please enter email" />
						<p:inputText id="Email" value="#{ForgotPassword.email}"
							required="true" size="60" />
					</p:panelGrid>
					<p:commandButton action="#{ForgotPassword.apply}" type="submit"
						id="submitButton" value="Submit" ajax="false" />
				</p:fieldset>
				<BR></BR>
				<p:outputLabel
					value="Please check your email for the generated password"></p:outputLabel>
				<BR></BR>
				<p:commandLink action="login?faces-redirect=true" ajax="false" immediate="true"
					value="Back to Login" />

			</h:form>
		</div>
		<div id="footer">
			<p:outputPanel
				style="height: 60px; background-color: #00283C; border-bottom: 3px solid #00AADC;">
				<p:outputLabel
					style="display: block; margin: 0 auto; text-align:center; color:white; padding-top:1em"
					value=" © TENSS 2017"></p:outputLabel>
			</p:outputPanel>
		</div>
	</div>
</h:body>

</html>