<?xml version='1.0' encoding='UTF-8' ?>
<?xml-stylesheet href="style.css" type="text/css"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Facelet Title</title>
</h:head>
<h:body>
	<h:form>
		<p>Welcome, #{loginBean.uname}</p>
		<p:menu>

			<p:menuitem value="Apply for TENSS 2017"></p:menuitem>
			<p:menuitem value="My Applications"></p:menuitem>
			<p:menuitem value="Change Password"
				action="pwChange.xhtml?faces-redirect=true"></p:menuitem>

		</p:menu>

		<p:commandButton action="#{loginBean.logout}" value="Logout"
			ajax="false" action="login.xhtml?faces-redirect=true"></p:commandButton>

		<h:form>
			<h:outputLabel value="title" />
			
		</h:form>
	</h:form>
</h:body>
</html>

