<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h2>Applications Overview</h2>

 <p:dataTable value="#{studentBean.getCurrentStudentApps()" var="s"
		styleClass="pretty-table" headerClass="order-table-header"
		rowClasses="order-table-odd-row,order-table-even-row">


		<p:column>
			<f:facet name="header">
    				Lastname
				</f:facet>
    				#{s.Student.lastname}
    		</p:column>
		<p:column>
			<f:facet name="header">
    				Firstname
				</f:facet>
    				#{s.Student.firstname}
    		</p:column>
		<p:column>
			<f:facet name="header">
    				Email Address
				</f:facet>
    				#{s.Student.email}
    		</p:column>
		<p:column>
			<f:facet name="header">
    				Gender
				</f:facet>
    				#{s.Student.gender}
    		</p:column>

	</p:dataTable>

</ui:composition>