<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<style type="text/css">
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	min-height: 100%;
	position: relative;
}

#header {
	padding: 10px;
}

#body {
	padding: 10px;
	padding-bottom: 60px; /* Height of the footer */
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Height of the footer */
}

.ui-layout-center {
	overflow: visible !important;
}

.ui-layout-unit .ui-layout-unit-content {
	overflow: visible !important;
	padding: initial !important;
}

.ui-layout-unit {
	padding: initial !important;
}

.ui-menu {
	padding: initial !important;
}

.ui-widget-content {
	padding: initial !important;
	background-color: #F2F1F1;
	border: 0;
}

.ui-corner-all {
	border-radius: 0 !important;
}

.ui-layout-center {
	overflow: auto !important;
}

h3 {
	color: #00283C;
}

h4 {
	color: #00AADC;
	font-size: 1em;
	font-family: Verdana, Arial, sans-serif;
}

h4:after {
	content: ' ';
	display: block;
	width: 100%;
	border: 2px solid #d0d0d0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

h5 {
	font-size: 1em;
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
}

.emailH5 {
	font-size: 1em;
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
}

.twenty-percent {
	width: 20% !important;
}

.forty-percent {
	width: 40%;
}

.sixty-percent {
	width: 60%;
}

.order-table-header {
	text-align: left;
}
</style>

	<link rel="icon" type="image/png"
		href="#{request.contextPath}/images/favicon.png" />
	<title>Recommandation Upload</title>

	<script type="text/javascript">
		function start() {
			PF('statusDialog').show();
		}

		function stop() {
			PF('statusDialog').hide();
		}
	</script>
</h:head>



<h:body>
	<div id="page">
		<div id="header">
			<p:outputPanel
				style="display:block; width: 100%; height: 155px; background-color: #00283C; border-bottom: 3px solid #00AADC;">
				<h:graphicImage value="header2016.png" width="1000" height="150"
					style="display: block;
    margin: 0 auto;" />
			</p:outputPanel>
		</div>
		<p:messages id="messagesDialog" closable="true" autoUpdate="true"
		globalOnly="false" />
		<div id="body">
			<h4>Upload recommendation</h4>
			<h:form id="formU" name="formU" enctype="multipart/form-data">

				<input type="hidden" name="email" value="#{fileUploadView.email}" />

				<h:panelGroup>
					<p:message for="prof" />
					<p:outputLabel for="prof" value="Please enter your name: " />
					<p:inputText id="prof" value="#{fileUploadView.profName}" size="60" maxlength="255"
						required="true" requiredMessage="Your name is required"></p:inputText>
					<br />
					<br />

					<h5>
						Please upload a recommendation letter for
						<p:outputLabel styleClass="emailH5"
							value="#{fileUploadView.email}" />
						. <BR />Allowed file types are pdf, doc and docx. Files should
						not exceed the limit of 5 MB.
					</h5>

					<p:fileUpload style="width:55%;" id="uploadFile" process="@form"
						update="@form"
						fileUploadListener="#{fileUploadView.handleFileUpload}"
						label="Browse" mode="advanced" dragDropSupport="true"
						sizeLimit="5242880" fileLimit="1"
						allowTypes="/(\.|\/)(pdf|docx|doc)$/" ajax="false">
					</p:fileUpload>
					
					
					    <p:fileUpload id="fileIdPhoto"  fileUploadListener="#{fileUploadBean.uploadPhoto}" mode="advanced" dragDropSupport="false"
             multiple="true" update="messages" sizeLimit="10000000" fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|zip)$/"  />
 
              <p:messages id="messages" autoUpdate="true" closable="true" />
 
              <p:separator/>
 
    <!-- File Upload with  mode="simple". Only one file can be uploaded. upload using submit button -->        
 
            <h:outputLabel for="fileIdResume" value="Upload Your Resume:" />
 
            <p:fileUpload id="fileIdResume"  value="#{fileUploadBean.resume}" mode="simple" skinSimple="true" description="Resume"/>
 
					
					
				</h:panelGroup>

				<p:dialog modal="true" widgetVar="statusDialog" header="Status"
					draggable="false" closable="false" resizable="false">
				</p:dialog>
				<h:panelGroup id="fileGroup">
					<p:outputLabel id="fileNameNoFile" style="color:red"
						value="You haven't uploaded any file. Please press choose and then upload button."
						rendered="#{empty fileUploadView.ufile.fileName}" />
					<p:outputLabel id="fileName" style="color:#00AADC"
						value="Thank you! You have successfully uploaded the file #{fileUploadView.ufile.fileName}"
						rendered="#{not empty fileUploadView.ufile.fileName}" />
				</h:panelGroup>
				<br />
			</h:form>
		</div>


		<div id="footer">
			<p:outputPanel
				style="height: 60px; background-color: #00283C; border-bottom: 3px solid #00AADC;">
				<p:outputLabel
					style="display: block; margin: 0 auto; text-align:center; color:white; padding-top:1em"
					value=" © TENSS 2017"></p:outputLabel>
			</p:outputPanel>
		</div>
	</div>
</h:body>

</html>